.easy-main {
    display: flex;
    background-color: #F5F5F5;
    padding: 10px;
    width: 100%;
    min-height: 100vh;
    max-height:auto;
    transition: 300ms;
    transition: all 0.3s ease;
}
.section-body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
/* ASIDE ############################################### */
.easy-aside {
    width: 18.5%;
    background-color:#4AD775;
    border-radius: 20px;
    padding: 0px 20px;
    position: relative;
    transition: all 0.5s ease;
    justify-content: center;
}

.easy-aside-body{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}
/* TITLE #################################### */

.easy-eats-body-title{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 13px;
    line-height: 20px;
    color: #7b95de;
    display: flex;
    align-items: center;
    padding: 23px 20px;
    grid-gap: 10px;
    gap: 10px;
    margin-bottom: 3px;
    width: 100%;
}
.easy-eats-body-title-body{
    display: flex;
}
.easy-eats-body-title-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.easy-eats-body-title-icon img{
    width: 38px;
    height: 38px;
    cursor: pointer;
}

.easy-eats-body-title-text-title{
    color: #fff;
    font-size: 12px;
    font-weight: 800;
    text-transform: uppercase;
}
.easy-eats-body-title-text-subtitle{
    color: #fff;
    font-size: 11px;
    font-weight: 400;
}
/* LIST ##################################### */
.easy-aside-body ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.easy-aside-body ul a {
    list-style: none;
    cursor: pointer;
    background-color: #6dec93;
    border-radius: 30px;
    height: 50px;
    color: #fff;
    padding: 17px;
    width: 100%;
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: all 0.3s ease;
    font-family: "Poppins";
    font-size: 18px;
    font-weight: 600;
    line-height: 36px;
    text-align: left;
}

.easy-aside-body ul a:hover {
    background-color: #3BA861;
}

.easy-aside-body ul a.active {
    background-color: #3BA861;
}

.easy-aside-body ul a:hover .li-block-text {
    color: #fff;
}

.easy-aside-body ul a.active .li-block-text {
    color: #fff;
}

.li-block {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.li-block-img{
    width: 25px;
    height: 25px;
}
.li-block-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 15px;
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease;
}
/* HEADER ################################################## */
.easy-header {
    background-color: #FAFAFA;
    border-radius: 15px;
    margin: 0px 0px 4px 8px;
    border-radius: 10px;
    padding: 10px 15px;
    transition: all 0.3s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* ICONS ######################################### */
.easy-headr-body{
    display: flex;
    align-items: center;
    gap: 40px;
}

.easy-headr-body-text{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.easy-headr-body-icons ul a img{
    width: 25px;
    height: 25px;
    cursor: pointer;
}

/* SECTION ######################################### */
.easy-section {
    display: flex;
    background-color: #FAFAFA;
    border-radius: 15px;
    margin: 4px 0px 0px 8px;
    padding: 10px;
    transition: all 0.3s ease;
    min-height: calc(100vh - 80px);
}
.easy-aside-gych {
    margin-right: 14px;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: .2s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    font-weight: 700;
    color: white;
}

.hamburger {
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.hamburger span {
    height: 3px ;
    background-color: #333 ;
}

.hamburger span:nth-child(1) {
    width: 35px;
}

.hamburger span:nth-child(2) {
    width: 30px;
}

.hamburger span:nth-child(3) {
    width: 25px;
}
.easy-header-left{
    display: flex;
    align-items: center;
    gap: 10px;
}
.easy-headr-text-title {
    font-family: 'Poppins';
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    color: #4AD775;
}
.easy-headr-text-subtitle{
    display: flex;
    align-items: center;
    justify-content: center;
}
.easy-headr-text-subtitle img{
    padding: 5px;
    border-radius: 50%;
    border: 3px solid #6dec93;
    width: 50px;
    height: 50px;
}
@media (max-width:1500px){
    .easy-eats-body-title-icon img {
            width: 28px;
            height: 28px;
            cursor: pointer;
        }
    
        .easy-eats-body-title {
            justify-content: center;
            padding: 23px 0px;
        }
}
