/* General styles */
.loginPage {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    background: #ffffff;
    overflow: hidden;
}

/* Loginpage Image */
.loginPage-image {
    width: 60%;
    height: 100%;
    display: flex;
}

.loginPage-image-item {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Loginpage Form */
.loginPage-form {
    width: 40%;
    background: #fff;
    display: flex;
    flex-direction: column;
    gap: 45px;
    padding: 0px 7.1%;
}
.loginPage-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 26px;
    margin-bottom: 30px;
}
.loginPage-text img {
    width: 60px;
    height: 60px;
}
.loginPage-input-body {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.loginPage-input input {
    color: #555;
    width: 100%;
    padding: 0 5px;
    outline: none;
    border: none;
    background-color: #F5F5F5;
    padding: 17px 0px 17px 20px;
    border-radius: 30px;
    font-family: 'Poppins';
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
}
.loginPage-input {
    position: relative;
}
.eye {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    cursor: pointer;
}
.loginPage-input-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loginPage-btn {
    margin-top: 30px;
    font-family: Poppins-Medium;
    font-size: 15px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 50%;
    height: 50px;
    outline: none;
    border-radius: 50px;
    border: none;
    font-weight: 600;
    cursor: pointer;
    background-color: #CF2222;
    transition: all 0.3s ease;
}
.loginPage-btn:hover {
    opacity: 95%;
}

/* Responsive for 1440px */
@media (max-width: 1440px) {
    .loginPage-image {
        width: 55%;
    }

    .loginPage-form {
        width: 45%;
        padding: 0 6%;
        gap: 40px;
    }

    .loginPage-input input {
        font-size: 22px;
        padding: 15px 0 15px 20px;
    }

    .loginPage-btn {
        width: 55%;
        height: 45px;
    }

    .eye {
        width: 18px;
        height: 18px;
    }
}

/* Responsive for 1920px */
@media (max-width: 1920px) {
    .loginPage-image {
        width: 60%;
    }

    .loginPage-form {
        width: 40%;
        padding: 0 5%;
        gap: 35px;
    }

    .loginPage-input input {
        font-size: 20px;
        padding: 14px 0 14px 20px;
    }

    .loginPage-btn {
        width: 60%;
        height: 45px;
    }

    .eye {
        width: 16px;
        height: 16px;
    }
}

/* For screens larger than 1920px */
@media (min-width: 1921px) {
    .loginPage-image {
        width: 60%;
    }

    .loginPage-form {
        width: 40%;
        padding: 0 5%;
        gap: 45px;
    }

    .loginPage-input input {
        font-size: 24px;
        padding: 17px 0 17px 20px;
    }

    .loginPage-btn {
        width: 50%;
        height: 50px;
    }

    .eye {
        width: 20px;
        height: 20px;
    }
}
